 .u-section-1 {
  background-image: url("images/AfbeeldingvanWhatsAppop2023-03-24om16.04.20.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 816px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 643px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 50px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 50px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 417px;
  margin: 54px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 339px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 30px 19px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: 0 0 0 41px;
}

.u-section-1 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: -23px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 23px 0 0 40px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 30px 19px 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: 0 0 0 41px;
}

.u-section-1 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: -23px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 23px 0 0 40px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 350px;
  height: 344px;
  margin: -341px 60px 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 29px;
  min-height: 16px;
  width: 121px;
  min-width: 82px;
  margin: 107px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 88px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-1 .u-list-1 {
    width: 390px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    height: 32px;
    width: 130px;
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 300px;
    margin-top: 60px;
    margin-left: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -440px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 126px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 31px;
  }

  .u-section-1 .u-list-1 {
    width: 480px;
    margin-top: 7px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 251px;
    height: 247px;
    margin-top: -302px;
    margin-right: 22px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 82px;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 290px;
    margin-top: 227px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 156px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -27px;
    margin-right: -18px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -27px;
    margin-right: -18px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    width: 222px;
    height: 177px;
    margin-top: -357px;
    margin-right: 54px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 195px;
    margin-left: 15px;
  }
}