 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/AfbeeldingvanWhatsAppop2023-03-24om16.04.20.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 2465px;
}

.u-section-1 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  width: 774px;
  margin: 23px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 45px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 2080px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 21px 0;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 21px 0;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-12 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 21px 0;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-14 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 21px 0;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-15 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-16 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 21px 0;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-17 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-18 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 21px 0;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-19 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-20 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 21px 0;
}

.u-section-1 .u-icon-10 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-21 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-22 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 21px 0;
}

.u-section-1 .u-icon-11 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-23 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-24 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 21px 0;
}

.u-section-1 .u-icon-12 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-25 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-26 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 21px 0;
}

.u-section-1 .u-icon-13 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-27 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-28 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 21px 0;
}

.u-section-1 .u-icon-14 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-29 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-30 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 21px 0;
}

.u-section-1 .u-icon-15 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-31 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-32 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 21px 0;
}

.u-section-1 .u-icon-16 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-33 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-34 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 21px 0;
}

.u-section-1 .u-icon-17 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-35 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-36 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 21px 0;
}

.u-section-1 .u-icon-18 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 18px;
}

.u-section-1 .u-text-37 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 30px 0 124px;
}

.u-section-1 .u-text-38 {
  font-style: normal;
  margin: 12px 30px 0 124px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-16 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-17 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-18 {
    margin-top: 8px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: -49px;
    margin-right: 45px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 109px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1726px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 0;
  }

  .u-section-1 .u-text-17 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 0;
  }

  .u-section-1 .u-text-23 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 0;
  }

  .u-section-1 .u-text-25 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 0;
  }

  .u-section-1 .u-text-27 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: 0;
  }

  .u-section-1 .u-text-29 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: 0;
  }

  .u-section-1 .u-text-31 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-16 {
    margin-top: 0;
  }

  .u-section-1 .u-text-33 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-17 {
    margin-top: 0;
  }

  .u-section-1 .u-text-35 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-36 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-18 {
    margin-top: 0;
  }

  .u-section-1 .u-text-37 {
    margin-top: 23px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-16 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-17 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-top: 13px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-18 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-top: 13px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
  }
}