 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/AfbeeldingvanWhatsAppop2023-03-24om16.04.20.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1255px;
}

.u-section-1 .u-image-1 {
  height: 329px;
  width: 791px;
  margin: 14px auto 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 35px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 783px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  width: 77px;
  height: 77px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-text-14 {
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 62px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 644px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2387px;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    margin-top: 56px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2009px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2855px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    margin-top: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 56px;
    margin-top: 83px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2766px;
  }

  .u-section-1 .u-image-1 {
    height: 143px;
    margin-top: 154px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 93px;
    margin-bottom: 30px;
  }
}